body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    border: 1px solid #000;
    margin: 0 auto;
}
